body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #767736;
    margin: 0;
}

header{
    background-color: rgb(121, 202, 171);
}

section, footer{
    margin: 40px;
}

h1{
    font-weight: 63px;
    color: #13462c;
    padding: 15px;
    color: white;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}

nav li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li{
    float: left;
}

nav ul{
    float: right;
    list-style: none;
}

nav{
    font-size: 12px;
    letter-spacing: 4px;
    height: 50px;
    background-color: rgb(144, 216, 188);
    padding-right: 40px;
}

table{
    width: 100%;
}

table td{
    color: #303030;
    padding: 5x;
}

table tr:nth-child(even){
    background-color: #e9e9e9;
}

table tr:nth-child(odd){
    background-color: #bdbdbd;
}

table thead th{
    background-color: rgb(144, 216, 188);
}

#saiba .figuras figure{
    display: inline-block;
}

#saiba .figuras{
    text-align: center;
}
