/* Estilo geral para o body */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5; /* Adiciona um fundo leve ao corpo */
}

/* Cores do tema */
.bg-verde-musgo {
    background-color: #4a5d23; /* Verde musgo */
}

.text-verde-musgo {
    color: #4a5d23; /* Verde musgo */
}

.bg-branco-gelo {
    background-color: #f0f4f4; /* Branco gelo */
}

.bg-bege {
    background-color: #f5f5dc; /* Bege */
}

/* Estilo para o formulário */
form {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para a tabela */
.table {
    margin-top: 20px;
}

/* Carrossel */
.carousel-inner img {
    width: 100%; /* Imagem ocupa a largura total do carrossel */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    object-fit: contain; /* Ajusta as imagens para manter a proporção sem cortar */
}
